.leftcontainer {
    width: 15%;
    height: 100vh;
    border-right: 1px solid #edf5fe;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .leftcontainer div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px; 
    margin: 4px 0; 
    cursor: pointer;
    color: gray;
  }
  
  .leftcontainer div:hover {
    background-color: #4391ed1a;
  }
  
  .leftcontainer div img {
    margin-left: 20%; 
  }
  
  .leftcontainer .logo {
    color: black;
    margin-bottom: 16px; 
  }
  
  .leftcontainer .logout {
    margin-top: auto;
  }
  
  .leftcontainer h1,
  .leftcontainer h2 {
    font-size: 16px; 
    margin-left: 8px;
  }
  
  .selectedtype {
    background-color: #4391ed1a !important;
    color: black !important;
  }
  